<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title> Connect CC </title>
    <style>
Body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: skyblue;
}
</style>

</head>
<link rel="stylesheet" href="/w3css/3/w3.css">
<body>
<center> <h1>Welcome to Connect CC App</h1> </center>
<nav class="w3-bar w3-black">
<a th:href="@{/usersPage}" class="w3-button w3-bar-item" >Register Here</a>
<br/>
<a th:href="@{https://www.google.com/}">Google Here</a>
<br/>
<a th:href="@{/logPage}">Login Here</a>
</nav>
<br/>
</body>
</html>
