<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget Calculator</title>
  <link rel="stylesheet" href="budget.styles.css">
  <style>
Body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: skyblue;
}
</style>
</head>
<body>
<form action=/calPage/v1/cc-cal-api/calBudget method="post">
<div class="container">
  <h1>Budget Calculator</h1>
<!--  <div class="input-fields">-->
    <label for="hourlyWage">Hourly Wage:</label>
    <input type="number" id="hourlyWage" name="hourlyWage" placeholder="Enter hourly wage">
    <br>
    <label for="monthlyHoursWorked">Monthly Hours Worked:</label>
    <input type="number" id="monthlyHoursWorked" name="monthlyHoursWorked" placeholder="Enter hours worked per month">
    <br>
<!--    <label for="vacation-pay">Vacation Pay Included:</label>-->
<!--    <input type="checkbox" id="vacation-pay">-->
<!--  </div>-->
<!--  <div class="expenses">-->
    <h2>Expenses:</h2>
<!--    <div class="expense">-->
      <label  for="houseRent">House Rent:</label>
<!--      <input type="text" class="expense-name" placeholder="Expense Name">-->
      <input type="number" id="houseRent" name="houseRent" class="expense-amount" placeholder="Expense Amount">
      <br>
      <label  for="grocery">Grocery:</label>
      <input type="number"  id="grocery" name="grocery" class="expense-amount" placeholder="Expense Amount">
      <br>
      <label  for="transportation">Transportation:</label>
      <input type="number"  id="transportation" name="transportation" class="expense-amount" placeholder="Expense Amount">
      <br>
      <label  for="miscellaneous">Miscellaneous:</label>
      <input type="number"  id="miscellaneous" name="miscellaneous" class="expense-amount" placeholder="Expense Amount">
<!--    </div>-->
<!--  </div>-->
  <br>
  <button id="calculate-btn" >Calculate Budget</button>
  <div class="result" style="display: none;">
    <h2>Budget:</h2>
    <p id="budget-result"></p>
  </div>
</div>
</form>
<script src="budget.script.js"></script>
</body>

</html>